<div class="col-md-6 login-form-1">
    <h3>Please enter your information</h3>
    <form [formGroup]="loginForm" (submit)="login(loginForm.value)">
        <div class="form-group">
            <input class="form-control col-md-8" id="email" type="text" formControlName="email" placeholder="Email">
        </div>
        <div class="form-group">
            <input class="form-control col-md-8" id="password" type="password" formControlName="password" placeholder="Password">
        </div>
        <div class="form-group">
            <button type="submit" class="btnSubmit" value="Login">Log In</button>
        </div>
    </form>
</div>